@model IEnumerable<LUTE_Server.Models.GameSharedVariable>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game Shared Variables</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Game ID</th>
            <th>UUID</th>
            <th>Variable Name</th>
            <th>Data</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var variable in Model)
        {
            <tr>
                <td>@variable.Id</td>
                <td>@variable.GameId</td>
                <td>@variable.UUID</td>
                <td>@variable.VariableName</td>
                <td>@variable.Data</td>
                <td>@variable.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>
