@model LUTE_Server.ViewModels.PagedUserViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Users";
}


<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>
                    <form method="post" action="/Admin/UpdateUserRole">
                        @Html.AntiForgeryToken()

                        <select name="newRole" class="form-control">
                            <option value="0" @(user.Role == LUTE_Server.Models.UserRole.Admin ? "selected" : "")>Admin</option>
                            <option value="1" @(user.Role == LUTE_Server.Models.UserRole.GameDeveloper ? "selected" : "")>Developer</option>
                            <option value="2" @(user.Role == LUTE_Server.Models.UserRole.User ? "selected" : "")>User</option>
                        </select>
                        
                        <!-- Hidden input to ensure the correct user is updated -->
                        <input type="hidden" name="userId" value="@user.Id" />
                        
                        <button type="submit" class="btn btn-primary">Update Role</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.CurrentPage - 1 })">Previous</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
            </li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.CurrentPage + 1 })">Next</a>
            </li>
        }
    </ul>
</div>

<div>
    <form method="get" action="/Admin/DownloadAllData">
        <button type="submit" class="btn btn-primary">Download All</button>
    </form>
</div>